
<h1>Your product</h1>

<div class="w-64">
    <img class="h-40 mb-4 mx-auto" src="/img/<%= product.image%>" alt="pizzaImg">
    <div class="text-center">
        <h2 class="mb-4 text-lg">
            <%=product.name%>
        </h2>
        <div class="flex items-center justify-around mt-6">
            <span class="font-bold text-lg">Rs. <%= product.price %></span>
        </div>
    </div>
</div>